#workshops{
   background-color: #f4f4f0;
   padding: 3rem 0;
   min-height: 40vh;
}

.workshops, footer{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* center items horizontally */
    align-items: flex-start;   /* align card tops */
    align-content: center;     /* center wrapped rows vertically inside the section */
    gap: 3rem;
    margin: 0 auto;  
}
.workshops .card{
    display: box !important;
    box-sizing: border-box;
    flex: 0 0 18rem !important; 
    text-align: center!important;
    
}
.card-title, .cardbody .btn{
    text-align: center !important;
    align-items: center !important;
    
}


 footer{
     min-height: 40vh;
 }

#blurb{
   /* width:60% !important;
    margin:auto;
    padding: 3rem;
     font-size: 1.1em;*/
    text-align: center;
    
   
    color: #311c03;
}
span{
    font-weight: bold;
    font-size: 1.1em;
}


footer .card {
   display: box !important;
    box-sizing: border-box;
    flex: 0 0 18rem !important; 
    text-align: center!important;
    
}

@media screen and (max-width: 768px) {
    #blurb {
        width: 90% !important;
        margin: auto;
        padding: 1.25rem;
        font-size: 1em;
    }
}